/* .image-grid {
  display: flex;
  justify-content: center;
} */

/* .container {
  display: block;
} */

.faculty-column {
  height: 100%;
  min-height: 442px;
  float: left;
  width: 25%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.person-name {
  color: rgb(93, 0, 0);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
  margin-top: 10px;
}
/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 1280px) {
  .faculty-column {
    height: 100%;
    min-height: 510px;
    width: 33.3%;
    display: block;
  }

  .person-name {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .faculty-column {
    height: 100%;
    min-height:490px;
    width: 50%;
    display: block;
  }

  .person-name {
    font-size: 16px;
  }
}

@media screen and (max-width: 480px) {
  .faculty-column {
    height: 100%;
    width: 100%;
    display: block;
  }

  .person-name {
    font-size: 16px;
  }
}

.subtitle {
  padding-bottom: 35px;
  font-weight: 600;
}

h4 {
  font-size: 12px;
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.faculty-container {
  padding: 10px 16px 0;
  background-color:burlywood;
}

/* Clear floats */
.faculty-container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.faculty-title {
  font-size: 16px;
  font-weight: 600;
}

.description {
  margin: -5px 0 18px;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}