.title-component {
  text-align: center;
  background-color: RGB(1,65,111);
  background-image: url("../images/whitePattern.png");
  background-size: contain ;
  margin: 0;
  padding: 20px 0 30px;
}

.title-image {
  width: 700px;
  padding:10px 0 5px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.title-image.english {
  padding:10px 0 5px;
  width:560px;
}

.title-component h1 {
  font-weight: 750;
  line-height: 1.75;
	color:#FFF;
  margin: 0;
  padding: 0;
}

/* The Modal (background) */
.my-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999; /* Sit on top */
  padding-top: 50px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  height: 90%;
  max-width: 700px;
  cursor: pointer;
}

/* Add Animation */
.modal-content {  
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform: scale(0.1)} 
  to {transform: scale(1)}
}

/* The Close Button */
.modal-close-btn {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 20px;
  font-weight: bold;
  transition: 0.3s;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    height: auto;
    width: 90%;
  }
}


@media screen and (max-width: 768px) {
  .title-component {
    padding: 5px 0 10px;
  }

  .title-component h1 {
    font-size: 28px;
  }

  .title-image {
    width:80%;
  }

  .title-image.english {
    width:60%;
  }
}