@media only screen and (max-width :767px) {
	
	.adm_enq{ margin:0;}
	.wwbsvlhdrb{ position: inherit;}
	.wwbsvl_logo img{ width:100%;}
	.wwbsvlbb{ margin-top:0;}
	.wwbsvlhdrb{ padding:15px;}
	.wwbsvl_hdri ul li a{ font-size:20px;}
	.adm_enq .form-control.submit{ width:100%;}
	.wwbsvl_hdri ul li{ line-height:32px;}
	.banner_slider_abs{ position: static;}
	.banner_slider_abs iframe{ min-height:295px;}
	.wwbsvlftrb ul li .wwbsvlftrbs img{}
	.wwbsvlftrb ul li{ padding:5px 0;}
	.wwbsvlabttsb p span{ display: initial;}
	.adm_enq{ padding:30px 15px 30px 15px; background:#00837a;}
	.wwbsvlabttsb{ padding:20px 15px;}
	.wwbsvlwwsb h2{ font-size:25px;}
	.wwbsvlabttsb h2{ font-size:25px;}
	.about_slider .content h3{ font-size:15px;}
	.wwbsvlbasb{ padding:10px 0 0 0;}
	.wwbsvlwwsb{ padding:20px 0;}
	.about_slider .owl-nav{ top:35%;}
	.about_slider .owl-prev .fa-angle-left{width:35px; height: 35px;border-radius:35px;text-align: center;line-height: 35px;}
	.about_slider .owl-next .fa-angle-right{width:35px; height: 35px;border-radius:35px;text-align: center;line-height: 35px;}
	.wwbsvlwwsb ul li .jvindb_infos p{ font-size:15.5px;}
	.wwbsvlwwsb ul li .jvindb_infos{ padding:15px 8px;}
	.wwbsvlftrb ul li .wwbsvlftrbs{ padding:0; text-align: center;}
	.wwbsvlftrb ul li .wwbsvlftrbs p{ font-size:16px;}
	.wwbsvlftrb ul li .wwbsvlftrbs p a{ font-size:16px;}
	.wwbsvlftrb{ padding:30px 0 75px 0;}
	.adm_enq .form-control.txt_area{ height: 40px;}
	.wwbsvlmvfixb ul li .wwbsvlmvfixbs a{ font-size:22px;}
	.wwbsvlftrb ul li .wwbsvlftrbs img{}
	.adm_enq .form-control{ border-radius:5px;}
	.wwbsvlbasb h2{ font-size:25px;}
	.wwbsvlhdrb{ padding:10px 15px 10px 15px;}
	.form-text{ text-align: right;}
	.wwbsvlbb .carousel-caption h3{ font-size:18px;}
	.wwbsvlbb .carousel-caption{ left:0; right:0; width:100%; text-align: center; padding:0;}
	.wwbsvlbb .carousel-caption h3 span{ font-size:15px; display: inline-block;}
		
	  
}

@media only screen and (min-width: 320px) and (max-width: 480px) {

	
	   

}

@media (min-width: 1200px) and (max-width: 1299px) {

}


@media (min-width: 1300px) and (max-width: 1399px) {
 
 

}

@media (min-width: 1400px) and (max-width: 1499px) {
 
  
}

@media (min-width: 1500px) and (max-width: 1599px) {

 

}

@media (min-width: 1600px) and (max-width: 1699px) {

 

}

@media (min-width: 1700px) and (max-width: 1799px) {
 
 
}

@media (min-width: 1800px) and (max-width: 1920px) {

 
}

@media (min-width: 1921px) {
	
  

}

@media only screen and (max-width: 1200px) {
	
  
  

}
