body{ font-family: 'Nunito Sans', sans-serif;}
.wwbsvlhdrb{ padding:15px 0; position:fixed; top:0; z-index:100; background:#fff;}
.wwbsvl_logo{ padding:0;}
.wwbsvl_hdri{ padding:0;}
.wwbsvl_hdri ul{ padding:0; margin:0; text-align: right;}
.wwbsvl_hdri ul li{ list-style: none; display: inline-block; padding:0; line-height:70px; color:#00837a; font-size:24px;
 font-weight: 700;}
.wwbsvl_hdri ul li a{ color:#00837a; font-size:24px; font-weight: 700; text-decoration: none;}
.wwbsvl_hdri ul li a .fa{ color:#ca2011; width:30px; height:30px; border-radius:30px; line-height:30px; text-align: center;
border:1px solid #ca2011; margin-right:10px;}
.wwbsvlbb{ padding:0; margin-top:100px;}
.wwbsvlbb .carousel-caption{ text-shadow: none; left:8%; top:0; text-align: left;}
.wwbsvlbb .carousel-caption h3{ font-weight: 900; text-transform: uppercase; font-size:43px; color:#474848;}
.wwbsvlbb .carousel-caption h3 span{ font-size:27.2px; font-weight: 400; border:3px solid #474848; text-align: center; padding:10px;}
.wwbsvlbb .carousel-caption h2 label{ display: block; font-weight: 400;}
.banner_slider{}
.banner_slider_abs{ position:absolute; top:0; width:100%; z-index:2;}
.banner_slider_abs iframe{ width:100%; border: none; min-height:525px;}

.adm_enq{ padding:20px; float: right; background:rgba(57,160,160,.8); margin-top:50px;}
.adm_enq h2{ text-align: center; color:#fff; text-transform: uppercase; font-size:23px; font-weight: 700; margin-top:0;}
.adm_enq .form-control{ border-radius:10px; box-shadow: none; background: #fff; color:#000000; height:40px; font-size:16px;font-weight: 300; width:100%;}
.adm_enq .form-group{ padding:5px; display: inline-block; margin:0;}
.adm_enq select{ color:#000000; color:#676767; -webkit-appearance: none; -moz-appearance: none; appearance: none;}
.adm_enq option{ color:#000;}
.adm_enq .form-control.txt_area{ height:75px; color:#000000;}
.adm_enq .form-control.submit{ background:#fff09b; font-size:15px; color:#00837a;font-weight: 700; position: relative; width: auto; border-radius:5px; border: none; text-transform: uppercase;}
.adm_enq ::placeholder{ color:#000000; font-size:16px; font-weight: 300;}
.adm_enq .input-group-addon{ position: relative; background: none; border: none; padding:0;}
.adm_enq .input-group-addon .fa-caret-down{ position: absolute; right:10px; top:12px; color:#014688; font-size:20px;}
.wwbsvlbasb{ padding:50px 0 0 0;}

.about_slider {position: relative; padding:0;}
.about_slider img{ width:100%;}
.about_slider .owl-nav{ position: absolute; top:45%; width:100%;}
.about_slider .single-slider::before {opacity: 0.7;}
.about_slider .content { position: absolute; bottom:0; width:100%; text-align: center;}
.about_slider .content h3 {font-size: 22px;color: #fff; margin-top:0; font-weight: 700;}
.about_slider .owl-theme .owl-controls .owl-page span{ color:#fff; }
.about_slider .owl-theme .owl-controls .owl-page.active span, .banner_slider .owl-theme .owl-controls.clickable .owl-page:hover span{ color:#93d050 !important;}
.about_slider .owl-next .fa-angle-right{ width:55px; height:55px; border-radius:55px; text-align: center; line-height:55px; position: absolute;background: #fff; color:#000; font-size:30px; right:0; left: inherit; z-index:2;}
.about_slider .owl-prev .fa-angle-left{  width:55px; height:55px; border-radius:55px; text-align: center; line-height:55px; position: absolute;background: #fff; color:#000; font-size:30px; left:0; right: inherit;}
.about_slider .owl-nav{ position: absolute; top:45%; width:100%;}
.wwbsvlabttsb{ padding:50px 0; text-align: center;}
.wwbsvlabttsb h2{ color:#00837a; font-size:35px; font-weight: 400; margin-top:0;}
.wwbsvlabttsb p{ color:#919293; font-size:20px; font-weight: 300; margin:0;}
.wwbsvlabttsb p span{ display: block; line-height:28px;}
.wwbsvlwwsb{ padding:50px 0; text-align: center; background:#f5f5f5;}
.wwbsvlwwsb h2{ color:#00837a; font-size:35px; font-weight: 400; margin-top:0;}
.wwbsvlwwsb ul{ padding:0; margin:0;}
.wwbsvlwwsb ul li{ list-style: none; padding:0;}
.wwbsvlwwsb ul li .jvindb_infos{ border-right: 1.5px solid; border-top: 0; border-bottom: 0;border-image: linear-gradient(to bottom, rgba(196, 196, 196, 0) 0%,
 rgba(196, 196, 196, 1) 48%, rgba(196, 196, 196, 0) 100%); border-image-slice: 1; padding: 30px 17px; line-height: 50px; text-align: center; position: relative;}
.wwbsvlwwsb ul li .jvindb_infos p{ font-size:18px; line-height:24px;} 
.wwbsvlwwsb ul li:last-child .jvindb_infos{ border: none;}
.wwbsvlftrb{ padding:30px 0; background:#00837a;}
.wwbsvlftrb ul{ padding:0; margin:0;}
.wwbsvlftrb ul li{ list-style: none; text-align: center;}
.wwbsvlftrb ul li:first-child{ text-align: left;}
.wwbsvlftrb ul li:nth-child(2){ text-align: right;}
.wwbsvlftrb ul li .wwbsvlftrbs{}
.wwbsvlftrb ul li .wwbsvlftrbs img{ margin-bottom:7px;}
.wwbsvlftrb ul li .wwbsvlftrbs a{ color:#fff; text-decoration: none; font-size:20px; font-weight: 400; border:1px solid #fff;
display: block; padding:15px 0;}
.wwbsvlftrb ul li .wwbsvlftrbs p{ font-size:20px; font-weight: 400; color:rgba(255,255,255,.5); margin:0; line-height:20px;}
.wwbsvlftrb ul li .wwbsvlftrbs p a{ display: inline-block; border: none; font-size:20px; font-weight: 400; color:rgba(255,255,255,.5); padding:0;}
.wwbsvlftrb ul li:last-child{ margin-top:15px;}

.wwbsvlmvfixb{ padding:0; position: fixed; bottom:0; width:100%; text-align: center; z-index:2;}
.wwbsvlmvfixb ul{ padding:0; margin:0;}
.wwbsvlmvfixb ul li{ list-style: none; padding:0;}
.wwbsvlmvfixb ul li .wwbsvlmvfixbs{ padding:0;}
.wwbsvlmvfixb ul li .wwbsvlmvfixbs a{ display: block; background:#fff09b; color:#00837a; font-size:26px; font-weight: 700; text-decoration: none; padding:5px 0;}
.wwbsvlmvfixb ul li:last-child .wwbsvlmvfixbs a{ background:#0ba499; color:#fff;}

.wwbsvlbasb h2 {color: #00837a;font-size: 35px;font-weight: 400; text-align: center; margin-bottom:20px;}

.owl-item {-webkit-backface-visibility: hidden;-webkit-transform: translateZ(0) scale(1.0, 1.0);}
.adm_enq p{ color:#fff;}


